<!DOCTYPE>
<html>
<head>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
<title><%=title%></title>
</head>
<body>

	<div class='container-fluid'> 

<!-- 		<div class='page-header container-fluid'>
			<h1>My Website</h1>
			<h4>Welcome to the digital dark side...</h4>
		</div> -->

		<nav class='navbar navbar-default'>
			<div class='container-fluid'>
				<div class='navbar-header'>
					<a class='navbar-brand' href='#'>My Website</a>
				</div>
				<ul class='nav navbar-nav'>
					
				</ul>
			</div>
		</nav>

		<div class='col-xs-4'>
			<div class='page-header'>
				<h5>My apps</h5>
				<ul>
					<li><a href='/music'>music</a></li>
					<li><a href='/react'>react</a></li>
				</ul>
			</div>
		</div>
		<iframe width="560" height="315" src="https://www.youtube.com/embed/OX9I1KyNa8M" frameborder="0" allowfullscreen></iframe>
	</div>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
</body>
</html>