<!DOCTYPE>
<htmnl>
<head>
	<title>Music App</title>
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
</head>
<body>
	<nav class='navbar navbar-default'>
		<div class='container-fluid'>
			<div class='navbar-header'>
				<a class='navbar-brand' href='#'>My Website</a>
			</div>
			<ul class='nav navbar-nav'>
				<li><a href='/'>Home</a></li>
				<li class='active'><a href='/music'>Apps</a></li>
			</ul>
		</div>
	</nav>
	<div class='container-fluid'>
		<div class='page-header'>
			<h2>Web Audio API Demo Controls</h2>
		</div>

		<div class='container-fluid'>
			<div class='page-header'>
				<h4>Oscillator Node</h4>
			</div>

			<!-- <div class='container-fluid well'> -->
			<div class='row well'>
				<div class='col-xs-3'>
					<p>Toggle Oscillator Node</p>
					<button id='start' type='button' class='btn btn-primary'>Start</button>
					<button id='stop' type='button' class='btn btn-default'>Stop</button>
				</div>
				<div class='col-xs-3'>
					<span>Adjust Frequency</span>
					<input id='slider' type='range' min='0' max='5000' onchange='update(this.value)' defaultValue='2500' step='5'>
					<div><span id='sliderVal'></span> Hz</div>
				</div>
				<div class='col-xs-3'>
					<span>Detune</span>
					<input id='detuner' type='range' min='0' max='1000' onchange='detune(this.value)' defaultValue='2500' step='5'>
					<div><span id='detuneVal'></span> </div>
				</div>
				<div class='col-xs-3'>
					<span>Change Type</span>
					<select id='type'>
						<option value='sine'>sine</option>
						<option value='square'>square</option>
						<option value='sawtooth'>sawtooth</option>
						<option value='triangle'>triangle</option>
						<option value='custom'>custom</option>
					</select>
				</div>
			</div>
			<!-- </div> -->


		</div>

		<!-- ======================= Audo Buffer section  ==========================m-->
		<div class='container-fluid'>
			<div class='page-header'>
				<h4>Audio Buffer Stuff</h4>
			</div>
			<div class='row well'>
				<div class='col-xs-3'>
					<p>Select an audio file:</p>
					<!-- <input id='file' type='file' accept='audio/*'> -->

					<br>
					<button type='button' id='audioStart' class='btn btn-primary'>Play</button>
					<button type='button' id='audioStop' class='btn btn-default'>Stop</button>
				</div>
				<div class='col-xs-3'>
					<p>Data Analysis</p>
					<textarea></textarea>
				</div>
			</div>
		</div>

		<!-- ======================= Biquad Filter section  ==========================m-->
		<div class='container-fluid'>
			<div class='page-header'>
				<h4>Biquad Filter Node</h4>
			</div>
			<div class='row well'>
				<div class='col-xs-3'>
					<audio controls onerror='printError()' id='biquadAudio'>
						<source src='./SeaOfAir.mp3' type='audio/mpeg'/>
						Browswer doesn't support audio element
					</audio>
				</div>
				<div class='col-xs-3'>
					<span>Adjust Frequency</span>
					<input id='biquadSlider' type='range' min='0' max='5' onchange='onGainChange(this.value)'  step='1'>
					<div><span id='biquadGainVal'></span> Hz</div>
				</div>
				<br>
			</div>
		</div>


	<!-- This is main script -->
	<script>
		var audioCtx = new (window.AudioContext ||window.webkitAudioContext)();
		var distortion = audioCtx.createWaveShaper();

		// var buffer = null;

		// var request = new XMLHttpRequest();
		// request.responseType = 'arraybuffer';

		// request.onload = function(){
		// 	// create buffer here
		// };

		// request.open('GET', '"The Fool On The Hill.".mp3', true);

		// var mp3Source = audioCtx.createBufferSource();
		// source.buffer = buffer;

	</script>
	<script>
		var oscillator = audioCtx.createOscillator();
		oscillator.connect(audioCtx.destination);

		$('#start').click(function(){oscillate(true)});
		$('#stop').click(function(){oscillate(false)});
		$('#type').change(function(){updateType()});

		$('#slider').val(oscillator.frequency.value);
		update(oscillator.frequency.value);

		$('#detuner').val(oscillator.detune.value);
		detune(oscillator.detune.value);

		$('#type').val(oscillator.type);

		function update(val){
			printVal(val);
			oscillator.frequency.value = val;
		};

		function updateType(){
			oscillator.type = $('#type').val();
		};

		function detune(val){
			writeDetuneVal(val);
			oscillator.detune.value = val;
		};

		function printVal(val){
			$('#sliderVal').text(val);
		};

		function writeDetuneVal(val){
			$('#detuneVal').text(val);
		};

		function oscillate(oscillate){
			if (oscillate){
				if (oscillator == null){
					oscillator = audioCtx.createOscillator();
					oscillator.connect(audioCtx.destination);
				}
				console.log('Starting oscillator...');
				oscillator.start(0);
			} else {
				console.log('stopping oscillator...');
				oscillator.stop();
				oscillator = null;
			}
		};
	</script>

	<!-- -------------------------------------------------------------------------- -->

	<script>
	$('#file').on('change', function(){
		console.log('Value: ' + typeof this.files[0]);
		console.log(this.files[0]);
		console.log(JSON.stringify(this.files[0]));
	});
	$('#audioStart').on('click',function(){
		console.log('You just clicked the button!');
		play();
	});

	var source = audioCtx.createBufferSource();
	init();

	function init(){
		console.log('initializing ajax request...');
		var request = new XMLHttpRequest();
		request.open('GET','SeaOfAir.mp3',true);
		request.responseType = "arraybuffer";
		request.onload = function(){
			console.log('loading...');
			var audioData = request.response;

			audioCtx.decodeAudioData(audioData, function(buffer){
				console.log('buffer was passed...');
				console.log('Source before: ' + source);
				source.buffer = buffer;

				source.connect(audioCtx.destination);

			});
		};
		request.send();
	};

	function play(){
		console.log('Source after: ' + source);
		source.start();
	};




	</script>

	<!-- -------------------------------------------------------------------------- -->
	<script src='/js/biquad.js'></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
</body>
</html>